@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Comfortaa&display=swap');

:root{
    font-family: 'Comfortaa', cursive;
   
    font-size: clamp(1.2rem, 10px,40px); 
    line-height: 1rem;
    background-color: #EFF1F3 ;
    color: #3c3c53
    
}
body{
    margin:0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
}

body::-webkit-scrollbar {
   width: 0.5rem;
   background-color: #696773fa;
  }
   
body::-webkit-scrollbar-thumb {
    background-color: #3c3c53;
    border-radius: 20px;
    
  }
body::-webkit-scrollbar-thumb:hover {
    background-color: #252533;
    border-radius: 50px;
    
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }